/* =================== МАСОВИ ЕЛЕМЕНТИ =======================*/

body {
  /*padding-top: 60px; !* Височината на навигацията + малко допълнително пространство *!*/
  background-image: url("../img/background.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #2c3e50; /* Резервен цвят, ако изображението не се зареди */
  /*color: white; !* Цвят на текста за по-добър контраст *!*/
  font-family: Arial, sans-serif;
}

/*header{*/
/*  position: fixed;*/
/*}*/

/*nav {*/
/*  !*position: fixed; !* Фиксира навигацията в горната част на екрана *!*!*/
/*  !*top: 0;*!*/
/*  !*left: 0;*!*/
/*  width: 100%; !* Навигацията да обхваща цялата ширина *!*/
/*  background-color: #333; !* Цветът на фона (можеш да го промениш) *!*/
/*  z-index: 1000; !* Уверява се, че навигацията стои над всички елементи *!*/
/*  padding: 10px 0;*/
/*  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); !* Леко засенчване за по-добър изглед *!*/
/*}*/

p, li{
  font-size: 1.2rem; /* 16px */
  text-align: justify;
}

button, input, label {
  font-size: 1rem; /* Размерът на шрифта следва глобалния размер */
  padding: 10px 20px; /* Вътрешен отстъп за удобство */
  min-width: 300px; /* Гарантира, че елементът няма да стане прекалено малък */
  height: 35px; /* Фиксирана височина за еднакъв дизайн */
  border-radius: 5px; /* Закръглени ъгли */
}

label{
  cursor: pointer;
}

button {
  background-color: #3D3E47; /* Сив фон */
  color: white; /* Бял текст */
  border: none;
  height: 50px;
  cursor: pointer;
  /*border-radius: 5px; !* Закръглени ъгли *!*/
  transition: background 0.3s ease-in-out; /* Време за превключване на цветовете */
}

button:hover {
  background-color: #0056b3; /* По-тъмен син при ховър */
}

/* =================== ЗАГЛАВИЯ =======================*/
/* адаптирани спрямо view point */
h1 {
  font-size: 4vw;
  text-align: center;
}

h2 {
  font-size: 3vw;
  text-align: center;
}

h3 {
  font-size: 2.5vw;
  text-align: left;
  font-weight: normal;
  margin-bottom: 10px;
}

h4 {
  font-size: 2vw;
  text-align: left;
}

/* =================== ГЛАВНО МЕНЮ =======================*/

/*nav {*/
/*  position: fixed; !* Фиксира навигацията в горната част на екрана *!*/
/*  !*top: 0;*!*/
/*  !*left: 0;*!*/
/*  !*width: 100%; !* Навигацията да обхваща цялата ширина *!*!*/
/*  !*background-color: #333; !* Цветът на фона (можеш да го промениш) *!*!*/
/*  !*z-index: 1000; !* Уверява се, че навигацията стои над всички елементи *!*!*/
/*  !*padding: 10px 0;*!*/
/*  !*box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); !* Леко засенчване за по-добър изглед *!*!*/
/*}*/

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav::before, /* clearfix - предпазва от пропадане на родителя nav, след който float-ват li-тата*/
nav::after {
  content: "";
  display: table;
}

nav::after { /* clearfix - предпазва от пропадане на родителя nav, след който float-ват li-тата*/
  clear: both;
}

nav li {
  float: left;
}

nav li a { /* главно меню */
  display: block;
  color: white;
  text-align: center;

  padding: 1.46vh 1.67vw;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: #111;  /* активен dd - черно */
}

li a:hover, .dropdown:hover .dropbtn {
  background-color:  #111;  /* активно меню - черно */
}

li.dropdown {  /* главно меню - dropdown*/
  display: inline-block;
}

.dropdown-content { /* главно меню - съдържание на dropdown*/
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /*min-width: 160px;*/
  min-width: 8.33vw;
  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
  box-shadow: 0px 0.42vh 0.83vh 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {/* главно меню - съдържание на dropdown - елементи */
  color: black;
  /*padding: 12px 16px;*/
  padding: 1.11vh 0.83vw;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #777;
  color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* =================== ДРУГИ КЛАСОВЕ =======================*/
.italic {
  font-style: italic;
}

.bold {
  font-style: oblique;
}

.float-left{
  float: left;
}

/*.img-result {*/
/*  float: left;*/
/*  margin: 2vh 3vw; !* 2% от височината на екрана горе/долу, 3% от ширината на екрана ляво/дясно *!*/
/*  display: block;*/
/*  max-width: 90%; !* Гарантира, че изображението не надвишава родителския контейнер *!*/
/*}*/

.image-text-container {
  display: flex; /* подравнява изображението и текста в една линия */
  justify-content: center; /* вертикално подравняване в контейнера */
  align-items: center; /* Центрира текста по височина спрямо картинката */
  gap: 20px; /* разстояние между елементите във flex контейнера */
  padding: 2vh 3vw; /* вътре в контейнера */
}

.container-element-40{
  max-width: 40%;
  height: auto;
}

.img-result {
  /*float: left;*/
  margin: 2vw 4.7vw;
  display: block;
  max-width: 90%; /* Картинката никога няма да е по-голяма от родителя */
  height: auto;
  border-radius: 10px; /* закръглени ъгли */
}

.text-left{
  padding: 4vh 4vw;
}

.container-element-60{
  max-width: 60%;
}

.container-element-60{
  max-width: 60%;
}

.position-fixed{
position: fixed;
}

.position-sticky{
  position: sticky;
}

.header-sticky{
  /*height: 60px;*/
  position: fixed;
  top: 0;
  width: 100%;
  background-color:  #708896;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-begin{
  margin-top: 40vh;
  /*overflow: hidden;*/
}

/* =================== ТАБЛИЦА =======================*/

/* =================== КАРТИНИ =======================*/

/* =================== ДРУГИ =======================*/
/*pseudo-element - стил при потребителски избор на текст(clicking, dragging the mouset)*/
/*::-moz-selection {*/
/*  background: #b3d4fc;*/
/*  text-shadow: none;*/
/*}*/
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*ot w3schools:*/
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* =============== РЕСИПОНСИВ ПРЕНАПИСВАНЕ НА СТИЛОВЕ ======================= */

/* мобилни телефони (до 480px) */
@media (max-width: 480px) {
  body {
    font-size: 3vw; /* nо-голям основен текст за мобилни */
    /*font-size: 1rem; !* nо-голям основен текст за мобилни *!*/
  }
  p, li{
    font-size: 0.8rem; /* 32px */
  }

  h1 {
    font-size: 6vw;
  }

  h2 {
    font-size: 5vw;
  }

  h3 {
    font-size: 4.5vw;
  }

  h4 {
    font-size: 4vw;
  }

  nav ul li a {
    font-size: 4vw; /* навигацията трябва да е удобна за докосване */
    padding: 10px 5px; /* Добавяме повече разстояние за по-добро UX */
  }

  .img-result {
    width: 90%; /* картинките да се поберат на екрана */
    margin: 2vh auto; /* Центриране */
    float: none; /* Премахване на float */
  }

  .image-text-container{
    display: block;
    width: 95%
  ;

  .container-element-40, .container-element-60{ /* за мобилни става центрирано */
    max-width: 100%;
  }

  .input, label, button{
  /*  по-големи за мобилен телефон*/
  }
}

/* 📲 За таблети (481px - 1024px) */
@media (max-width: 1024px) {
  body {
    font-size: 2.5vw; /* Оставяме текста удобен за четене */
  }

  h1 {
    font-size: 6.5vw;
  }

  nav ul li a {
    font-size: 1.2rem;
    padding: 12px 10px;
  }

  .img-result {
    width: 80%;
    margin: 2vh auto;
  }
}

/*!* 💻 За лаптопи и стандартни десктопи (1025px - 1600px) *!*/
/*@media (max-width: 1600px) {*/
/*  body {*/
/*    font-size: 1.2rem;*/
/*  }*/

/*  h1 {*/
/*    font-size: 4vw;*/
/*  }*/

/*  nav ul li a {*/
/*    font-size: 1rem;*/
/*    padding: 10px;*/
/*  }*/

/*  .img-result {*/
/*    width: 50%;*/
/*    margin: 2vh auto;*/
/*  }*/
/*}*/

/* 🖥️ За 4K монитори и телевизори (над 1600px) */
@media (min-width: 1601px) {
  body {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 3.5vw;
  }

  nav ul li a {
    font-size: 1.2rem;
    padding: 15px;
  }

  .img-result {
    width: 40%;
  }
}
}




