/* =============================== МАСОВИ ЕЛЕМЕНТИ =======================*/

body {
    background-image: url("../img/background.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #2c3e50; /* резервен цвят, ако изображението не се зареди */
    font-family: Arial, sans-serif;
}

p, li {
    font-size: 1.2rem; /* 16px */
    text-align: justify;
}

li a {
    display: flex;
    align-items: center; /* подравнява иконата и текста вертикално */
    gap: 5px; /* разстояние между иконата и текста */
    color: white; /* бял текст и икона */
    text-decoration: none;
    font-size: 1.2em; /* автоматичен размер на SVG */
}

li a svg {
    fill: currentColor; /* наследява цвета от текста */
    width: 1em;
    height: 1em;
}


button, input, label {
    margin-top: 20px;
    height: 35px; /* фиксирана височина за еднакъв дизайн */
    border-radius: 5px;
    margin-left: 1vw;
}



input, label {
    font-size: 1.3rem; /* размерът на шрифта следва глобалния размер */
    width: 100%; /* няма фиксирана ширина */
    max-width: 300px; /* десктоп – няма да стане прекалено голямо */
    min-width: 150px; /* не става прекалено малко */
    padding: 10px 20px; /* вътрешен отстъп за четимост */
}

.textarea-contact{
    height: 220px;
    min-width: 30vw;
    max-width: 80vw;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

label {
    cursor: pointer;
}

button {
    font-size: 1rem;
    background-color: #3D3E47; /* Сив фон */
    color: white; /* Бял текст */
    border: none;
    height: 50px;
    padding: 12px 24px;
    cursor: pointer;
    transition: background 0.3s ease-in-out; /* Време за превключване на цветовете */
}

button:hover {
    background-color: #0056b3; /* По-тъмен син при ховър */
}

/* =================================== ЗАГЛАВИЯ =======================*/

/* адаптирани спрямо view point */
h1 {
    font-family: 'Caveat', cursive;
    font-size: 4vw;
    text-align: center;
}

h2 {
    font-size: 3vw;
    text-align: center;
}

h3 {
    font-size: 2.5vw;
    text-align: left;
    font-weight: normal;
    margin-bottom: 10px;
}

h4 {
    font-size: 1vw;
    text-align: left;
}

h1:hover {
    transform: scale(1.2); /* увеличава заглавието при ховър */
    color: #3d3e47; /* променя цвета на текста на златист */
    transition: transform 0.5s ease-in-out, color 0.3s ease-in-out;
}

/* ============================= НАВИГАЦИОННО МЕНЮ =======================*/
.hamburger {
    display: none; /* скрита икона, тъй като на мобелен ще има нормално меню */
}

.hamburger:visited {
    color: inherit; /* лилавия цвят на посетените линкове */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav::before, /* clearfix - предпазва от пропадане на родителя nav, след който float-ват li-тата*/
nav::after {
    content: "";
    display: table;
}

nav::after { /* clearfix - предпазва от пропадане на родителя nav, след който float-ват li-тата*/
    clear: both;
}

nav li {
    float: left;
}

nav li a { /* главно меню */
    display: block;
    color: white;
    text-align: center;

    padding: 1.46vh 1.67vw;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #111; /* активен dd - черно */
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
}

li a:hover, .dropdown:hover .dropbtn:hover {
    /*background-color: #111; !* активно меню - черно *!*/
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
}

li.dropdown { /* главно меню - dropdown*/
    display: inline-block;
    /*position: relative;* остава само в рамките на менюто/
    /*display: block;*/
}

.dropdown-content { /* главно меню - съдържание на dropdown*/
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 8.33vw;
    box-shadow: 0 0.42vh 0.83vh 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a { /* главно меню - съдържание на dropdown - елементи */
    color: black;
    /*padding: 12px 16px;*/
    padding: 1.11vh 0.83vw;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 10px;
}

.dropdown-content a:hover {
    background-color: #777;
    color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* =============================== ДРУГИ КЛАСОВЕ =======================*/
.italic {
    font-style: italic;
}

.bold {
    font-style: oblique;
}

.float-left {
    float: left;
}

/* =============================== HEADER =======================*/
.header-logo-container {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center; /* центрира логото и текста вертикално */
    gap: 1vw; /* разстояние между логото и текста */
    max-height: 80vh;
}

.-header-logo-container a {
    text-decoration: none; /* Премахва подчертаването */
}

.-header-logo-container a:visited {
    color: inherit; /* лилавия цвят на посетените линкове */
}

.logo {
    width: auto;
    /*height: 0.8em; !* като H1 *!*/
    height: 1.2em;
    border-radius: 5px;

}

.header-sticky {
    /*height: 60px;*/
    z-index:1;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #708896;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*====================================================================*/
/* контейнери за изобразяване на резултат от нумерологичен анализ*/

.numerology-result-container {
    margin: 40px auto; /* пентрира съдържанието и дава отстояние отгоре и отдолу */
    max-width: 80%;
    text-align: center;
    padding: 6vh 6vw; /* вътре в контейнера */
    justify-content: center; /* вертикално подравняване в контейнера */
    display: none;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(61, 80, 95, 0.64);
}

.numerology-result-container > * { /* децата му*/
    display: block; /* всеки елемент да е на нов ред */
    margin-bottom: 1.5vh; /* разстояние между елементите */
    justify-content: center;
}

.img-result {
    /*float: left;*/
    margin: 2vw 4.7vw;
    display: block;
    max-width: 90%; /* Картинката никога няма да е по-голяма от родителя */
    height: auto;
    border-radius: 20px; /* закръглени ъгли */
}

/*====================================================================*/
/* контейнер, подходящ за картинка в ляво и обтичащт текст */

.image-text-container {
    gap: 20px; /* разстояние между елементите във flex контейнера */
    max-width: 90%;
    margin: 40px auto; /* пентрира съдържанието и дава отстояние отгоре и отдолу */
    padding: 20px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    box-shadow: 0 0 15px rgba(61, 80, 95, 0.64);
    overflow: hidden; ; /* правилното обтичане в контейнера  */
    border-radius: 10px;
}

.numerology-form-container{
    gap: 20px; /* разстояние между елементите във flex контейнера */
    max-width: 90%;
    margin: 40px auto; /* пентрира съдържанието и дава отстояние отгоре и отдолу */
    padding: 20px;
    box-shadow: 0 0 15px rgba(61, 80, 95, 0.64);
    border-radius: 20px;
    overflow: hidden; ; /* правилното обтичане в контейнера  */
}

.numerology-form-container:hover{
    color: #3d3e47; /* променя цвета на текста на златист */
    box-shadow: 0 0 60px rgba(95, 61, 65, 0.64);
}

.image-text-container img {
    border-radius: 10px; /* Закръглени ръбове */
}

.image-left-640, .image-left-320 {
    float: left;

}

.image-left-640 {
    margin-right: 1.8vw;
    border-radius: 10px;
}

.image-left-640 img {
    border-radius: 10px;
    box-shadow: 0 0 30px #042f2a;
    width: 100%;
}

.image-left-320 {
    margin-right: 4vw;
    margin-left: 1.8vw;
}

.image-left-320 img {
    border-radius: 10px; /* Закръглени ръбове */
    width: 100%;
    box-shadow: 0 0 30px #11114b;
}

.ul-right-no-flow{
    display: block;
}
/*====================================================================*/
/* за общо центрирано съдържание */
/* подходящ да държи в себе си долните два контейнера или просто параграф */

.main-container, .main-container-no-x {
    margin: 40px auto; /* пентрира съдържанието и дава отстояние отгоре и отдолу */
    padding: 20px 20px;
    border-radius: 10px; /* Закръглени ръбове */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.main-container{
    max-width: 90%;
    overflow-x: auto; /* скролера за скритата част */
}

.main-container-no-x{
    max-width: 90%;
}

/* за 2 картини една до друга - 1 */
.image-2-container {
    display: flex; /* подрежда снимките в редица */
    justify-content: space-around; /* Раздалечава ги равномерно */
    margin-bottom: 20px;
    border-radius: 10px;
}

/* тези 2 картини една до друга - размерът им спрямо горния контейнер и рамката */
.image-2-container img {
    width: 47%;
    border-radius: 10px; /* Закръглени ръбове */
    box-shadow: 0 0 30px rgb(6, 47, 92);
}

/* контейнер за текста в мейн контейнера */
.text-container {
    text-align: center; /* Центрира текста */
    padding: 20px;
    /*background-color: #f9f9f9; !* Лек фон за разлика *!*/
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.23);
    margin-bottom: 1vh;

}

/*======== контактна форма ====================================================*/
.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 20%;
    gap: 20px;
    text-align: right;
    overflow: hidden;
}

.main-contact {
    display: flex;
    flex-direction: row;
    align-items: flex-end; /*подравнява на долна граница във флекс контейнера*/
    overflow: hidden;
    top: 32%;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 20px;
    justify-content: center;
}

/* адаптирано по левите елементи - конткактната форма, ако има други карти и форми - да редактирам*/
#map, iframe, .imitator{
/*.contact-iframe, #map {*/
    min-height: 580px; /* адаптирано по левите елементи - конткактната форма*/
    max-width: 80vw;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/*========разни останали ===========================================================*/

.container-element-20 {
    max-width: 20%;
    height: auto;
}

.text-left {
    padding: 4vh 4vw;
}

.position-fixed {
    position: fixed;
}

.position-sticky {
    position: sticky;
}

.main-begin {
    margin-top: 30vh;
}

.form-container {
    display: block;
    margin-bottom: 20px;

}

.full-name {
    min-width: 450px;
}


/* =================== СЛАЙДЕР =======================*/
/*Слайдер контейнер*/
.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;;
    margin: 20px auto;
    overflow: hidden;
    /*box-shadow: 0px 8px 16px 0px rgb(17, 17, 75);*/
}

.slider-container image{
    width: 100%;
    height: auto;
    margin: 20px auto;
    overflow: hidden;
    /*box-shadow: 0px 8px 16px 0px rgb(17, 17, 75);*/
}

.slide-img {
    display: none;
    width: 150%;
    /*height: 100%;*/
    text-align: center;
    border-radius: 10px;
}

.slide-img img {
    width: 49vw;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgb(51, 51, 52);
    /*object-fit: cover; !*запълване без изкривяване*!*/
}

.slide-img:first-child {
    display: block;
}

/*утончето в контейнера*/
.slider-container button {
    position: absolute;
    /*transform: translateY(-50%);*/
    /*transform: translateX(50%);*/
    border: none;
    font-size: 24px;
    margin: 0 auto;
    padding:10px 15px;
    cursor: pointer;
    border-radius: 5px;
    /*box-shadow: 0px 8px 16px 0px rgb(86, 26, 52);*/
}

.slider-container button:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

/* позиции на бутоните  до картинката*/
.prev {
    transform: translateX(15vw);
}
.next {
    transform: translateX(-10vw);
}

.prev, .next {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border: none;
    padding: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 10vw;
}

.next {
    right: 15vw;
}

/* =================== ТАБЛИЦИ =======================*/


th{
    border-top: solid;
}

table {
    width:100% ;
    border-collapse: separate;
    border-radius: 20px;
    border-spacing: 0;
    /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);*/
    border-left: 1px solid  rgba(0,0,0,0.1);
    border-right: 1px solid  rgba(0,0,0,0.1);
    border-top: 1px solid  rgba(0,0,0,0.1);
    border-bottom: 1px solid  rgba(0,0,0,0.1);
    overflow: hidden; /* иначе не работи заоблянето*/
}

th, td {
    border: 1px solid  rgba(0,0,0,0.1); /* ненатрапчива рамка */
    padding: 8px;
    text-align: center;
}

th {
    background-color: #535362;
}

.td-left {
    text-align: left;
}

.td-left {
    text-align: justify-all
}

tr:hover { /* при преминаване през реда - помътнява и се уголемява плавно*/
    background-color: #00000026;
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

/* =================== FOOTER =======================*/
footer {
    /*background-color:  #708896;*/
    text-align: center;
    padding: 20px 10px;
    font-size: 1em;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.social-icons {
    display: flex;
    gap: 15px; /* разстояние между иконите */
}

.social-icons a svg, .special-text {
    width: 30px;
    height: 30px;
    fill: #3d3e47; /* цветът на иконите */
    transition: transform 0.3s ease-in-out, fill 0.3s;
}

.social-icons a svg:hover, .special-text {
    transform: scale(1.5); /* увеличава иконата при ховър */
    fill: #FFD700; /* променя цвета на иконата на златист */
}

/* =================== ДРУГИ =======================*/

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

